
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,100&family=Roboto: 100,200,300,400,500,600,700');




body{
    background-color: fuchsia;
    background-position: center;
     background-size: cover;
     background-clip: padding-box;
     background-attachment: fixed;
     background-repeat: repeat-x;
     margin: 0;
     padding: 0%;
     border: none;
}
     
    
    
    .nav-link{position:relative;
    left: 900px;
    color:bisque;}

    .navbar-brand{ font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: oblique;
    font-weight: 800;
    color: white;
    }


    .navbar{background-color: darkorchid;

    .secondlogo{position: relative;
    left: 100px;}


}.rounded float-left{
    position: relative;
    left: 30px;
}
.rounded float-right{
    position:relative
    left: 30px;
}

.header{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:white;
    text-align:center;
    text-transform: capitalize;
    text-decoration: dashed;
    font-size: 20px;
}
.nail-image{
    position: absolute;
    top: 400px;
}
.paragraph1{
    position:relative;
    top: 70px;
    color: white;
}
.paragraph2{
    position:relative;
    top: 250px;
    left: 450px;
    color: white;
}
.carousel-inner{
    position:relative;
top:300px;
}
.carousel-slide{ 
    position:relative;
    top: 500px;00px;
}


  

 .navbar-text{ 
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 font-style: oblique;
 font-weight: 700;
 color:white;
 float: inline-end;
 font-size: medium;
}

.container{
    position: relative;
    top: 20px;
    right: 50px;
  }
  #club-ethos{
    height: 600px;
}

.First-image{
    position: relative;
    left: 60px;
}

.second-image{ 
    position:relative;
    left: 80px;px;
}

.Eni-Beauty-salon{
    text-align: center;
}

#left-about{
    padding-top: 30px;
    width: 33%;
    float: left;
}

#right-about {
    padding-top: 30px;
    width: 33%;
    float: right;
}

#center-about {
    width: 33%;
    margin: 0 auto;

}

hr {
    border-top: 1px solid #777777;
    width: 100%;
    margin: 5px 0;
}

.left-about-heading {
    width: 50%;
    float: right;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
}

.right-about-heading {
    width: 50%;
    float: left;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
}

.right-about-heading h2 {
    text-align: right;
}


  #circle-container {
    width: 300px;
    height: 300px;
    padding: 30px;
    border-style: solid;
    border-width: 1px;
    border-radius: 50%;
    margin: 0 auto;
}

#circle-cover-bg {
    background: url(/assets/imagefolder/image25.jpg) no-repeat center center;
    height: 100%;
    border-radius: 50%;
}